{% extends 'core/base.html' %}
{% load static %}
{% block exclusive-styles %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <style type="text/css" data-asas-style="">
        body, div, a, p, span{ user-select: text !important; }
        p, h1, h2, h3, h4, h5, h6{ cursor: auto; user-select: text !important; }
        ::selection{ background-color: #338FFF !important; color: #fff !important; }
    </style>
{% endblock %}
{% block content %}
<div class="main-container text-center">
<main class="form-search">
    <form method="get" action="{% url 'core:search' %}?q={{ request.GET.q }}">
        <img class="mb-4" src="{% static 'images/logo.svg' %}" alt="Powerful search fake logo" width="72">
        <h1 class="h4 mb-3 fw-normal">Powerful Search Engine</h1>

        <div class="form-floating mb-3">
            <input type="search" class="form-control" id="floatingInput" name="q" value="{{ request.GET.q }}">
            <label for="floatingInput">Type your search</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Pesquisar</button>
    </form>
    <p class="mt-5 mb-3 text-muted">&copy; 2021–2021</p>
</main>
</div>
{% endblock %}